body{
    background-image: url("img/rupixen-com-pbgYcq3_Zx0-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    font-size: 20px;
}

#appName{
    font-size: 90px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(26, 24, 25);
    text-align: right;
    margin-right: 100px;
    letter-spacing: 2px;
}

#quote{
    text-align: right;
    font-weight: 300;
    font-size: 20px;
    margin-right: 60px;
    font-style: italic;
}

#container{
    background-color: white;
    width: 300px;
    padding: 5px 15px 5px 15px;
    margin-left: auto;
    margin-right: 225px;
    margin-top: 40px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 7px;
}

#firstName, #email, #password{
    width: 300px;
    background-color: white;
    color:#666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size:17px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

#firstName:focus,
#email:focus,
#password:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 1);
    border: 2px solid #85bb65;
}

#signUpButton{
    width: 300px;
    background-color: #85bb65;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

#signUpButton:hover{
    background-color: #74aa54;
}

#splitLine{
    border-bottom: 2px solid #f1f1f1;
}

#backButton{
    width: 300px;
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

#backButton:hover{
    background-color: #222;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}