body{
    background-image: url("img/rupixen-com-pbgYcq3_Zx0-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    font-size: 20px;
    margin: 0 !important;
}

.navigation{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

ol > li {    
    float: left;
    width: 160px;
    height: 40px;
    margin-right: 25px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
    /*border: 1px solid black;*/
}


ol > li:hover{
    background-color: #eee;
}

ol > li:hover > a{ 
    color:#74aa54;
}


ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    
}

ol > li:hover > ul{
    display: block;
}

ol > li > ul > li{
    background-color: white;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
}

ol > li > ul > li:hover{
    background-color: #eee;
}

ol > li > ul > li:hover > a{
    color: #74aa54;
}

#appName{
    font-size: 90px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(26, 24, 25);
    text-align: right;
    margin-right: 120px;
    letter-spacing: 2px;
}

.aboutApp{
    width: 50%;
    margin-left: auto;
    margin-right: 100px;
    text-align: justify;
    text-indent: 30px;
    line-height: 200%;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(204, 204, 204, 1);
}

#lastSentence{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}