body{
    background-image: url("img/rupixen-com-pbgYcq3_Zx0-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    font-size: 20px;
    margin: 0 !important;
}

.navigation{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

ol > li {    
    float: left;
    width: 160px;
    height: 40px;
    margin-right: 25px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
}


ol > li:hover{
    background-color: #eee;
}

ol > li:hover > a{ 
    color:#74aa54;
}


ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    
}

ol > li:hover > ul{
    display: block;
}

ol > li > ul > li{
    background-color: white;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
}

ol > li > ul > li:hover{
    background-color: #eee;
}

ol > li > ul > li:hover > a{
    color: #74aa54;
}

.container{
    width: 700px;
    height: 750px;
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 100px;
}

.table{
    width: 300px;
    height:450px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

td,
th {
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

th[scope="col"],
th[scope="row"] 
 {
    font-weight: 500;
    background-color: white;
    color: black;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 7px;
}

.totalAmount{
    font-weight: 600;
    color: #85bb65;
}

caption {
    font-size: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgb(26, 24, 25);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

table {
    border-collapse: separate;
    background-color: white;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 7px;
}