body{
    background-image: url("img/rupixen-com-pbgYcq3_Zx0-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    font-size: 20px;
}

#appName{
    font-size: 90px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(26, 24, 25);
    text-align: right;
    margin-right: 100px;
    letter-spacing: 2px;
}

#quote{
    text-align: right;
    font-weight: 300;
    font-size: 20px;
    margin-right: 60px;
    font-style: italic;
}