body{
    background-image: url("img/rupixen-com-pbgYcq3_Zx0-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    font-size: 20px;
    margin: 0 !important;
}

.navigation{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

ol > li {    
    float: left;
    width: 160px;
    height: 40px;
    margin-right: 25px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
}


ol > li:hover{
    background-color: #eee;
}

ol > li:hover > a{ 
    color:#74aa54;
}


ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    
}

ol > li:hover > ul{
    display: block;
}

ol > li > ul > li{
    background-color: white;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
    border-radius: 6px;
}

ol > li > ul > li:hover{
    background-color: #eee;
}

ol > li > ul > li:hover > a{
    color: #74aa54;
}